.search{
    background-color: greenyellow;
    width: 46%;
    border-radius: 4px;
    height: 50px;
    padding: 0 15px;
    box-shadow: 0px 1px #ddd;
    display: flex;
    align-items: center;
}
input{
    background-color: transparent;
    border: none;
    height: 50%;
    font-size: 20px;
    width: 100%;
    margin-left: 5px;
}
input:focus{
    outline: none;
}
#search-icon{
    color: royalblue;
}
@media (max-width:800px) {
    .search{
        border-radius: 0px;
        box-shadow: 0px 2px;
        height: 1.5rem;
        font-size: 10px;
    }
    input{
        font-size: 15px;
    }
}
@media (max-width:500px) {
    input{
        display: none;
    }
}